// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.set-me {
	width: 500px;
	height: 400px;
	background-color: burlywood;
	text-align: center;
	margin-left: 380px;
	margin-top: 100px;
	font-size: xx-large;
}
